#lyrics {
    label {
        font-weight: bold;
        text-align: center;
    }

    .lyrics-part--header {
        button {
            min-width: 16%;
            font-size: smaller;

            &.restore {
                margin-bottom: 1.33rem;
            }

            &.red {
                background-color: #7f0000;

                &:hover {
                    background-color: #0056b3;
                }
            }
            &.green {
                background-color: #007f00;

                &:hover {
                    background-color: #0056b3;
                }
            }
        }
    }
}
