#lyrics {
    form.lyrics-form {
        &>div {
            width: 100%;
            margin-bottom: 1.25rem;

            &#lyrics_convert {
                width: 60%;
            }
        }
    }
}
