@use "@/variables" as *;

#lyrics {
  .lyrics-part {
    @apply flex flex-col items-center gap-2 opacity-0;

    &.mounted {
      @apply opacity-100;
    }

    &--header {
      @apply flex items-center gap-8;

      &--section {
        @apply mb-1 text-2xl;
        font-family: $font-family--header;
      }

      button {
        @apply w-48 font-light text-lg;
        transition: all 0.3s ease-in-out, width 0s, height 0s;

        &:not(:disabled):hover {
          background-color: $primary-2;
        }

        &.red   { @apply bg-red-900;   }
        &.green { @apply bg-green-700; }
      }

      button.restore {
        @apply w-full bg-transparent;
      }
    }

    textarea {
      @apply w-full;
      min-width: 36rem;
    }
  }
}
