#lyrics {
    form {
        justify-content: center;

        &.lyrics-form {
            margin-top: 2%;

            &> div {
                width: 100%;
                margin-bottom: 20px;

                &#lyrics_convert {
                    width: 60%;
                }
            }

            label {
                font-weight: bold;
                text-align: center;
            }
        }
    }

    button.mode-flipper, button.last-generation {
        background-color: #8fbc8f;
        width: 32%;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;

        &:hover {
            cursor: pointer;
            background-color: #0056b3;
        }
    }

    button.last-generation {
        width: 20%;
    }
}
