#lyrics {
    form {
        justify-content: center;
    }

    button.mode-flipper, button.last-generation {
        background-color: #8fbc8f;
        font-size: .8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;

        &:hover {
            cursor: pointer;
            background-color: #0056b3;
        }
    }

    button.mode-flipper {
        width: 32%;
    }

    button.last-generation {
        width: 20%;
    }
}
