@use "./variables" as *;
@use "./theme" as *;

* {
    padding: 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    text-align: left;
    font-size: 1.1rem;
    letter-spacing: 0.08rem;
}
head { display: none; }

html {
    transition: background-color 0.3s ease;

    @include apply-theme($dark-theme);

    &[data-theme="light"] {
        @include apply-theme($light-theme);
    }
}

div.navbar {
    width: auto;
    gap: 1.6rem;

    margin: auto;
    flex-direction: row;

    justify-content: space-between;

    button:hover {
        background-color: $navbutton-hover;
    }
}

div.spinner-container {
    position: relative;
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;

    span.spinner {
        width: 2.4rem;
        height: 2.4rem;

        display: inline-block;

        border-radius: 50%;
        border-top: .2rem solid $yellow-genius;
        border-right: .2rem solid transparent;
        box-sizing: border-box;

        animation: spin 0.67s linear infinite;

        &:after {
            content: "";
            box-sizing: border-box;
            position: absolute;
            left: 0;
            top: 0;

            width: 2.4rem;
            height: 2.4rem;

            border-radius: 50%;
            border-bottom: .2rem solid $blue-french;
            border-left: .2rem solid transparent;
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50%; /* Adjust size as needed */
            height: 50%; /* Adjust size as needed */
            transform: translate(-50%, -50%);
        }
    }
}
@keyframes spin {
    0%   {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

h1, h2, h3, h4, h5, h6,
button, .button, .action-button,
input[type="text"],
.centered
{
    text-align: center;
}

h1 {
    font-family: Helvetica, sans-serif;
    font-size: 3.5rem;
    margin: 2% 0 2% 0;
    font-style: italic;
    letter-spacing: 0;
}

hr {
    width: 80%;
    margin: 0 auto;
    height: 0;
    border: 0;
    box-shadow: 0 0 .1rem .005rem black;

    &.w-80 { width: calc(80% * 4/5); }
    &.w-66 { width: calc(80% * 2/3); }
    &.w-50 { width: calc(80% * 1/2); }
    &.w-33 { width: calc(80% * 1/3); }
    &.w-25 { width: calc(80% * 1/4); }

    @-moz-document url-prefix() { /* Firefox only supports half-pixels */
        box-shadow: 0 0 .1rem .025rem black; /* significantly thicker */
    }

    &:after { /* Not really supposed to work, but does */
        content: "\00a0"; /* Prevent margin collapse */
    }
}

button {
    padding: .5rem 1rem;
    display: inline-block;
    cursor: pointer;

    color: white;
    background-color: $blue-button;
    border: .1rem solid $button-border;
    box-shadow: 0 0 .5rem $button-shadow;
    border-radius: .4rem;

    font-size: 1.4rem;

    transition: all 0.3s;

    span {
        position: relative;
        cursor: pointer;

        align-items: center;
        vertical-align: middle;

        transition: 0.3s;
    }
    span:before {
        top: 0;
        position: absolute;

        opacity: 0;
        transition: 0.3s;
    }
    span.left:before {
        left: -10%;

        content: '\00ab'; /* double left arrow character */
    }
    span.right:before {
        right: -10%;

        content: '\00bb'; /* double right arrow character */
    }

    &:hover {
        background-color: $blue-button-hover;

        span.left  { padding-left:  .75rem; }
        span.right { padding-right: .75rem; }

        span:before {
            opacity: 1;
        }
        span.left:before  { left:  -2%; }
        span.right:before { right: -2%; }
    }
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
a.button, input.button {
    display: inline-block;

    margin-top: 1rem;
    padding: .5rem 0;

    background-color: $blue-button;
    color: white;
    border: none;

    text-decoration: none; /* remove underline */

    &:hover {
        background-color: $blue-button-hover;
        transition: 0.3s;
        cursor: pointer;
    }
}
div.action-button {
    flex-direction: row;
    min-width: 33%;
}
input.action-button {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 1rem;
    align-self: center;

    border: .1rem solid $button-border;
    box-shadow: 0 0 .5rem $button-shadow;
    border-radius: .4rem;

    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.3rem;

    background-color: $yellow-genius;
    color: black;

    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        background-color: $blue-french;
        color: white;
    }
}

input[type="text"], textarea {
    width: 50%;
    padding: 1.5rem;
    margin: 1rem 0;
    line-height: normal;

    border: .1rem solid lightgray;
    border-radius: 0.2rem;

    &.empty-text {
        font-style: italic;
        font-size: .75rem !important;
    }
}
input[type="file"] {
    text-align-last: center;
    cursor: pointer;

    &::file-selector-button {
        margin-right: 5%;
        padding: .4rem 1.6rem;

        border: none;
        border-radius: 0.2rem;

        background: $blue-button;
        color: white;
    }
}

.flexbox {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hidden-h { visibility: hidden; width:  0; }
.hidden-v { visibility: hidden; height: 0; }

.pad-l-1>.spinner-container {
    padding-left: .5rem;
}

.t-green { color: $text-green; }
.t-yellow { color: $text-yellow; }
.t-red { color: $text-red; }
