$blue-button: #007bff; // FIXME remove when no longer needed
$blue-button-hover: #0056b3;
$button-border: #00000010;
$button-shadow: #0000007f;

$french-blue: #002496;
$french-white: #ffffff;
$french-red: #ed2839;

// Palette
$primary-1: #ffff64;
$primary-1--75: #bbbb49;
$primary-1--50: #888832;
$primary-2: #2a4d8f;
$primary-2--75: #1d366f;
$primary-2--50: #0f1b4f;
$secondary-1: #ffffff;
$secondary-1--half: #ffffff7f;
$secondary-2: #f4f4f4;
$secondary-3: #1f1f1f;
$secondary-3--half: #1f1f1f7f;
$accent: #8fbc8f; // old green ftw
$accent--75: #6f9f6f;
$accent--50: #4f7f4f;

$text-green: #007f00; // FIXME remove when no longer needed
$text-yellow: #7f7f00;
$text-red: #7f0000;

$text-limit--light: #c0c0c0c0;
$text-limit--dark: #505050c0;

$border--primary-1--md: 0.175rem solid $primary-1;
$border--primary-2--md: 0.175rem solid $primary-2;

$font-family: "http://fonts.googleapis.com/css?family="
  + "Playfair+Display:400,700" + "|"
  + "Poppins:300,400,500,600,700,200ital,300ital,600ital" + "|"
  + "Lora:ital,wght@0,400;1,400" + "|"
  + "Rubik:ital,wght@0,200,300,400,500,600,700;1,200,300,400,500,600,700";
$font-family--action-button: "Poppins", sans-serif;
$font-family--header: "Playfair Display", serif;
$font-family--lyrics: "Lora", serif;
$font-family--nav: "Poppins", sans-serif;
$font-family--stats: "Rubik", sans-serif;
$font-family--text: "Poppins", serif;

$gap--3xl: 2.5rem;
$gap--2xl: 2rem;
$gap--xl: 1.5rem;
$gap--lg: 1rem;
$gap--md: 0.5rem;
$gap--sm: 0.25rem;

$glow--primary1--xl: 0 0 1rem .5rem $primary-1--75;
$glow--primary1--md: 0 0 .5rem .25rem $primary-1--75;
$glow--primary2--md: 0 0 .5rem .25rem $primary-2--75;
$glow--h1-primary1--md: 0 0 1rem $primary-1--50;
$glow--h1-primary2--md: 0 0 1rem $primary-2;

$gradient--primary-1: linear-gradient(90deg, $primary-1, $primary-2);
$gradient--primary-2: linear-gradient(90deg, $primary-2, $primary-1);

$letter-spacing--xl: .375rem;
$letter-spacing--lg: .25rem;

$lyrics--character-limit: 50;

$outline--primary-1--lg: 0.25rem solid $primary-1;

$pad--4xl: 3rem;
$pad--3xl: 2.25rem;
$pad--xl: 1.75rem;
$pad--lg: 1.5rem;
$pad--md: 1.25rem;

$shadow--hr-light: 0 0 0.1rem 0.05rem $secondary-1;
$shadow--hr-dark: 0 0 0.1rem 0.05rem $secondary-3;

$toast--failure: #7f0000;
$toast--success: #007f00;
$toast--warning: #7f7f00;
$toast--progress--failure: #ff0000c0;
$toast--progress--success: #00ff00c0;
$toast--progress--warning: #ffff00c0;