# Hidden files and directories, residual editfiles
.*
.*/*
*~

# Installation files
*.ps1

# Environment file
.env

# Flask bytecode cache
flask_session/

# Python cache
__pycache__/

# Statistics file
stats.json

# Log files
*.log

# img cache
client/public/processed*
server/generated_files/
server/**/*.png
server/**/*.txt

# cards cache
*.txt