# Hidden files and directories
.*
.*/*

# Flask bytecode cache
flask_session/

# environment file
.env

# img cache
*.png
*.PNG
*.jpg
*.JPG
*.jpeg
*.JPEG
*.gif
*.GIF
*.bmp
*.BMP
*.ico
*.ICO
*.svg
*.SVG
*.webp
*.WEBP

# Statistics file
*.json

# Python cache
__pycache__/