.btn-remove {
    cursor: pointer;
    padding: .25rem;
    margin-bottom: .2rem;
    border: none;

    background: none;
    box-shadow: none;

    color: white;
    font-size: larger;
    transition: all .01s;

    &:hover {
        color: #ff0000;
        background: none;
    }
}