@use "@/variables" as *;

#artwork-generation {
  .results {
    @apply flex flex-col mt-4 items-center;

    &--container {
      &:empty {
        @apply hidden;
      }
      &:not(:empty) {
        @apply w-full grid max-w-[64rem] gap-x-14 gap-y-2 mb-6;
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }

      &--item {
        @apply opacity-0;

        &.mounted {
          @apply opacity-100;
        }

        &--content-wrapper {
          @apply flex items-center gap-2;

          button {
            @apply rounded-lg;
            border: 1px solid;
            font-size: initial;
          }

          &--image {
            @apply max-w-32 max-h-32 p-1 rounded-lg;
          }
          &--text {
            @apply mb-0 mx-auto text-center font-bold italic text-base;
          }
        }

        &--spinner {
          @apply justify-items-center mt-2;

          div.spinner-container {
            position: unset;
          }
        }
      }
    }
  }
}
