#artwork-generation {
    form {
        &#itunes {
            #itunes-text {
                margin-bottom: 0;
            }

            .itunes-search {
                width: 33rem;

                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5%;
            }
        }

        input {
            padding: 1.5rem;
            margin: 1rem 0;

            &.file {
                border: 2px solid #dddddd;

                width: 75%;
                margin-bottom: 1%;
            }
        }
    }

    #clear {
        background-color: #8fbc8f;

        margin-bottom: 1rem;
        width: 16rem;
        font-size: 16px;

        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;

        &:hover {
            cursor: pointer;
            background-color: #0056b3;
        }
    }

    #results.result-container {
        &:empty {
            display: none;
        }
        &:not(:empty) {
            max-width: 58rem;
            width: 75%;
            margin: auto;

            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 32px 5%;
            margin-bottom: 32px;
        }

        .result-item {
            align-items: center;
            min-height: 300px;
            justify-content: space-between;

            button {
                font-size: initial;

                .result-image {
                    max-width: 200px;
                    max-height: 200px;

                    border: 1px solid #dddddd;
                    border-radius: 4px;

                    padding: 5px;
                }
            }
            .result-name {
                margin: .5rem auto;
                line-height: 1rem;
            }
            .result-text {
                line-height: 1rem;
                margin: 0 auto;
            }
        }
    }

}