#artwork-generation {
    form {
        input {
            padding: 1.5rem;
            margin: 1.5rem 0;

            &.file {
                border: 2px solid #dddddd;

                width: 75%;
                margin-bottom: 1%;
            }
        }
    }

    #clear {
        background-color: #8fbc8f;

        margin-bottom: 2%;
        width: 180px;
        font-size: 14px;

        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;

        &:hover {
            cursor: pointer;
            background-color: #0056b3;
        }
    }
    #results.result-container {
        &:empty {
            display: none;
        }
        &:not(:empty) {
            width: 60%;
            margin: auto;

            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 32px 5%;
            margin-bottom: 32px;
        }

        .result-item {
            align-items: center;
            min-height: 300px;
            justify-content: space-between;

            .result-image {
                max-width: 200px;
                max-height: 200px;

                border: 1px solid #dddddd;
                border-radius: 4px;

                padding: 5px;
            }

            button {
                margin-top: 10px;
                font-size: initial;
            }
        }
    }

}