#home {
    .stats-board {
        width: 50%;

        margin: 2% auto 0 auto;
        padding: 0.75em;

        border: .1rem solid lightgray;
        border-radius: 1rem;
        background-color: white;
    }
}