#home {
    .stats-entry {
        flex-direction: row;

        &--title {
            width: 60%;
            margin: .75rem 0;

            font-size: larger;
        }

        &--text {
            margin: auto;
            font-style: italic;
        }
    }
}