#home {
    .stats-board {
        width: 50%;

        margin: 2% auto 0 auto;
        padding: 1.5rem 0;

        border: .1rem solid lightgrey;
        border-radius: 1rem;
        background-color: white;
    }
}