@use "@/variables" as *;

.selector {
  @apply cursor-pointer py-2 px-6 rounded-md text-left;
  background: $primary-yelloww;

  border: .1rem solid #00000010;
  box-shadow: 0 0 .5rem #0000007f;

  option {
    @apply text-justify;
  }
}