.selector {
    cursor: pointer;
    background: #ffff64;

    padding: .4rem 1.6rem;

    border: .1rem solid #00000010;
    box-shadow: 0 0 .5rem #0000007f;
    border-radius: .4rem;

    text-align: left;
    letter-spacing: normal;

    option {
        text-align: justify;
    }
}