.selector {
    cursor: pointer;
    background: #ffff64;

    padding: 8px 32px;

    border: 2px solid #00000010;
    box-shadow: 0 0 10px #0000007f;
    border-radius: 8px;

    text-align: left;
    letter-spacing: normal;

    option {
        text-align: justify;
    }
}