#lyrics {
    form {
        justify-content: center;

        .search-bar {
            gap: 16px;
        }

        &.lyrics-form {
            margin-top: 2%;

            &> div {
                width: 60%;
                margin-bottom: 20px;
                text-align: center;
            }

            label {
                font-weight: bold;
                text-align: center;
            }

            textarea {
                width: 100%;
                padding: 10px;
                background-image:
                    linear-gradient(to right,
                        transparent calc(0.92ch * 62),
                        lightgray calc(0.92ch * 62),
                        lightgray calc(0.92ch * 63),
                        transparent calc(0.92ch * 63)
                    );
            }
        }

        .lyrics-part--header {
            button {
                min-width: 16%;
                font-size: smaller;

                &.restore {
                    margin-bottom: 1.75rem;
                }

                &.red {
                    background-color: #7f0000;

                    &:hover {
                        background-color: #0056b3;
                    }
                }
                &.green {
                    background-color: #007f00;

                    &:hover {
                        background-color: #0056b3;
                    }
                }
            }
        }
    }
}
