@use "@/variables" as *;

.file-upload {
  @apply flex p-2 justify-center cursor-pointer;
  min-width: 32rem;
  max-width: max-content;
  border: .1rem solid $primary-yellow;
  transition: border-color 0.25s ease;

  &.dragging {
    @apply cursor-grabbing;
    border: .1rem dashed $old-green--75;
    background-color: #f0f8ffcc;

    label {
      @apply opacity-50;
    }
  }

  * {
    @apply mx-2 my-0 cursor-pointer;
  }

  > div {
    @apply flex items-center;

    label {
      @apply py-2 px-6 rounded-sm text-2xl;
      background-color: $old-green;
      color: $secondary-3;
    }

    .file-upload--caption {
      @apply mr-0 text-2xl font-extralight;
      transition: font-style 0s;
    }
  }
}