$light-green: #00ff00;
$dark-green: #007f00;
$dark-yellow: #7f7f00;
$dark-red: #7f0000;

$light-green-progress: #00ff004d;
$dark-yellow-progress: #ffff004d;
$dark-red-progress: #ff00004d;

#toast-container {
    position: fixed;
    top: 2%;
    right: 2%;
    z-index: 999;

    .toast {
        min-width: 12.5rem;

        margin-top: .5rem;
        padding: .8rem;

        background-color: $dark-green;
        border-radius: .2rem;
        opacity: 0;

        color: white;
        font-size: .8rem;

        animation: fade-in 0.5s;
        transition: margin 0.2s ease, transform 0.5s ease, opacity 0.5s ease;

        cursor: pointer;

        &.show { opacity: 1; transform: translateX(0);    }
        &.hide { opacity: 0; transform: translateX(100%); }

        &.warn  { background-color: $dark-yellow; }
        &.error { background-color: $dark-red; }

        .toast-progress {
            position: absolute;
            bottom: 0;
            left: 0;

            height: .2rem;
            width: 100%;

            background-color: $light-green-progress;
            border-radius: .2rem;

            &.warn  { background-color: $dark-yellow-progress; }
            &.error { background-color: $dark-red-progress; }

            .toast-progress-fill {
                height: 100%;

                background-color: $light-green;
                border-radius: .2rem;

                transition: width linear;

                &.warn  { background-color: yellow; }
                &.error { background-color: red; }
            }
        }
    }
}

@keyframes fade-in {
    from { opacity: 0; transform: translateX(100%); }
    to   { opacity: 1; transform: translateX(0);    }
}

@keyframes fade-out {
    from { opacity: 1; transform: translateX(0);    }
    to   { opacity: 0; transform: translateX(100%); }
}