#toast-container {
    position: fixed;
    top: 2%;
    right: 2%;
    z-index: 999;

    .toast {
        min-width: 12.5rem;

        margin-top: .5rem;
        padding: .8rem;

        background-color: #007f00;
        border-radius: .2rem;
        opacity: 0;

        color: white;
        font-size: .8rem;

        animation: fade-in 0.5s;
        transition: margin 0.2s ease, transform 0.5s ease, opacity 0.5s ease;

        cursor: pointer;

        &.show { opacity: 1; transform: translateX(0);    }
        &.hide { opacity: 0; transform: translateX(100%); }

        &.warn  { background-color: #7f7f00; }
        &.error { background-color: #7f0000; }

        .toast-progress {
            position: absolute;
            bottom: 0;
            left: 0;

            height: .2rem;
            width: 100%;

            background-color: #00ff004d;
            border-radius: .2rem;

            &.warn  { background-color: #ffff004d; }
            &.error { background-color: #ff00004d; }

            .toast-progress-fill {
                height: 100%;

                background-color: #00ff00;
                border-radius: .2rem;

                transition: width linear;

                &.warn  { background-color: #ffff00; }
                &.error { background-color: #ff0000; }
            }
        }
    }
}

@keyframes fade-in {
    from { opacity: 0; transform: translateX(100%); }
    to   { opacity: 1; transform: translateX(0);    }
}

@keyframes fade-out {
    from { opacity: 1; transform: translateX(0);    }
    to   { opacity: 0; transform: translateX(100%); }
}