.file-upload-component {
    align-self: center;
    cursor: pointer;
    min-width: 32rem;
    max-width: max-content;
    border: 2px solid #dddddd;
    padding: .5rem;

    * {
        cursor: pointer;
        margin: 0 .5rem;
    }

    label {
        padding: .5rem 1rem;

        background-color: #007bff;
        color: #ffffff;
        border-radius: .25rem;
    }

    p {
        margin-right: 0;
    }

    div, button {
        margin: 0;
    }
}