.card-container {
  text-align: center;
  position: relative;

  img, input {
    cursor: pointer;
  }
}

.gallery-card {
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.02);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.7); /* Dark background */

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.modal-content {
  position: relative;
  width: 70%;
  padding: 2rem;
  background-color: #fff;
  border-radius: .4rem;
  box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.1);
}

.modal-actions {
  display: flex;
  justify-content: space-between;

  button {
    width: -webkit-fill-available;
    padding: .5rem 1rem;
    border: none;

    color: white;
    font-size: .8rem;

    border-radius: .25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    background-color: #007bff;
    &:hover { background-color: #0056b3; }
    &:nth-child(2) {
      background-color: #d9534f;
      &:hover { background-color: #c9302c; }
    }
  }
}
