<!DOCTYPE html>
<html lang="en">
<head>
    <title>Upload File</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/upload.css') }}" />
</head>
<body>
    <h1>Upload your image</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="flexbox">
            <input type="file" name="file" class="file" />
            <p class="error">{{ error }}</p>
            <div class="flex-horiz">
                <label for="logo-position">Position of the logo over the artwork:</label>
                <select name="logo-position" id="logo-position">
                    <option value="center">Center</option>
                    <option value="right">Right</option>
                    <option value="left">Left</option>
                </select>
            </div>
            <input type="submit" value="UPLOAD" class="button" />
        </div>
    </form>
</body>
</html>
