<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download Files</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/download.css') }}" />
</head>
<body>
    <span id="top-bot-spacer"></span>
    <div id="navbar">
        <button onclick="window.location.href='{{ url_for('uploadFile') }}'"><span class="left"> Home</span></button>
        <button onclick="window.location.href='{{ url_for('uploadFile') }}'"><span class="right">Lyrics </span></button> <!-- TODO url to lyrics, not upload_file -->
    </div>
    <h1>Processed Artworks</h1>
    <div class="image-panels">
        <!-- Cadre de gauche pour l'Artwork -->
        <div class="image-container">
            <img src="{{ url_for('downloadArtwork', filename='ProcessedArtwork.png') }}" alt="background thumbnail">
            <a href="{{ url_for('downloadArtwork', filename='ProcessedArtwork.png') }}" class="button">Download</a>
        </div>

        <!-- grille de 3*3 -->
        <div class="thumbnails">
            <form method="post" enctype="multipart/form-data">
                <div class="thumbnail-grid">
                    <div class="thumbnail-item">
                        <a><img src="{{ url_for('downloadArtwork', filename='thumbnail_top-left.png') }}" alt="top left logo"></a>
                        <input type="radio" id="radio_01" name="selected_thumbnail_idx" value="1">
                    </div>
                    <div class="thumbnail-item">
                        <a><img src="{{ url_for('downloadArtwork', filename='thumbnail_top-center.png') }}" alt="top center logo"></a>
                        <input type="radio" id="radio_02" name="selected_thumbnail_idx" value="2">
                    </div>
                    <div class="thumbnail-item">
                        <a><img src="{{ url_for('downloadArtwork', filename='thumbnail_top-right.png') }}" alt="top right logo"></a>
                        <input type="radio" id="radio_03" name="selected_thumbnail_idx" value="3">
                    </div>
                    <div class="thumbnail-item">
                        <a><img src="{{ url_for('downloadArtwork', filename='thumbnail_center-left.png') }}" alt="center left logo"></a>
                        <input type="radio" id="radio_04" name="selected_thumbnail_idx" value="4" checked>
                        <!-- By default, the checked radio button is the center-left; because it is the most common chosen one -->
                    </div>
                    <div class="thumbnail-item">
                        <a><img src="{{ url_for('downloadArtwork', filename='thumbnail_center-center.png') }}" alt="center logo"></a>
                        <input type="radio" id="radio_05" name="selected_thumbnail_idx" value="5">
                    </div>
                    <div class="thumbnail-item">
                        <a><img src="{{ url_for('downloadArtwork', filename='thumbnail_center-right.png') }}" alt="center right logo"></a>
                        <input type="radio" id="radio_06" name="selected_thumbnail_idx" value="6">
                    </div>
                    <div class="thumbnail-item">
                        <a><img src="{{ url_for('downloadArtwork', filename='thumbnail_bottom-left.png') }}" alt="bottom left logo"></a>
                        <input type="radio" id="radio_07" name="selected_thumbnail_idx" value="7">
                    </div>
                    <div class="thumbnail-item">
                        <a><img src="{{ url_for('downloadArtwork', filename='thumbnail_bottom-center.png') }}" alt="bottom center logo"></a>
                        <input type="radio" id="radio_08" name="selected_thumbnail_idx" value="8">
                    </div>
                    <div class="thumbnail-item">
                        <a><img src="{{ url_for('downloadArtwork', filename='thumbnail_bottom-right.png') }}" alt="bottom right logo"></a>
                        <input type="radio" id="radio_09" name="selected_thumbnail_idx" value="9">
                    </div>
                </div>
            <input type="submit" value="Download" class="button" />
            </form>
        </div>
    </div>
    <span id="top-bot-spacer"></span>

</body>
</html>
