<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download Files</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/download.css') }}" />
</head>
<body>
    <span id="top-bot-spacer"></span>
    <div id="navbar">
        <button onclick="window.location.href='{{ url_for('upload_file') }}'"><span class="left"> Home</span></button>
        <button onclick="window.location.href='{{ url_for('upload_file') }}'"><span class="right">Lyrics </span></button> <!-- TODO url to lyrics, not upload_file -->
    </div>
    <h1>Processed Artworks</h1>
    <div class="image-panels">
        <!-- Cadre de gauche pour l'Artwork -->
        <div class="image-container">
            <img src="{{ url_for('download', filename='ProcessedArtwork.png') }}" alt="background miniature">
            <a href="{{ url_for('download', filename='ProcessedArtwork.png') }}">Download</a>
        </div>

        <!-- grille de 3*3 -->
        <div class="miniature-grid">
            <div class="miniature-item">
                <img src="{{ url_for('download', filename='thumbnail_top-left.png') }}" alt="top left logo">
                <a href="{{ url_for('download', filename='thumbnail_top-left.png') }}">Download</a>
            </div>
            <div class="miniature-item">
                <img src="{{ url_for('download', filename='thumbnail_top-center.png') }}" alt="top center logo">
                <a href="{{ url_for('download', filename='thumbnail_top-center.png') }}">Download</a>
            </div>
            <div class="miniature-item">
                <img src="{{ url_for('download', filename='thumbnail_top-right.png') }}" alt="top right logo">
                <a href="{{ url_for('download', filename='thumbnail_top-right.png') }}">Download</a>
            </div>
            <div class="miniature-item">
                <img src="{{ url_for('download', filename='thumbnail_center-left.png') }}" alt="center left logo">
                <a href="{{ url_for('download', filename='thumbnail_center-left.png') }}">Download</a>
            </div>
            <div class="miniature-item">
                <img src="{{ url_for('download', filename='thumbnail_center-center.png') }}" alt="center logo">
                <a href="{{ url_for('download', filename='thumbnail_center-center.png') }}">Download</a>
            </div>
            <div class="miniature-item">
                <img src="{{ url_for('download', filename='thumbnail_center-right.png') }}" alt="center right logo">
                <a href="{{ url_for('download', filename='thumbnail_center-right.png') }}">Download</a>
            </div>
            <div class="miniature-item">
                <img src="{{ url_for('download', filename='thumbnail_bottom-left.png') }}" alt="bottom left logo">
                <a href="{{ url_for('download', filename='thumbnail_bottom-left.png') }}">Download</a>
            </div>
            <div class="miniature-item">
                <img src="{{ url_for('download', filename='thumbnail_bottom-center.png') }}" alt="bottom center logo">
                <a href="{{ url_for('download', filename='thumbnail_bottom-center.png') }}">Download</a>
            </div>
            <div class="miniature-item">
                <img src="{{ url_for('download', filename='thumbnail_bottom-right.png') }}" alt="bottom right logo">
                <a href="{{ url_for('download', filename='thumbnail_bottom-right.png') }}">Download</a>
            </div>
        </div>
    </div>
    <span id="top-bot-spacer"></span>
</body>
</html>
