<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/download.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}" />
</head>
<body>
    <span class="top-bot-spacer"></span>
    <h1>Home</h1>
    <div id="navbar">
        <button onclick="window.location.href='{{ url_for('artworkGeneration') }}'"><span class="right">Artwork Generation </span></button>
        <button onclick="window.location.href='{{ url_for('lyrics') }}'"><span class="right">Lyrics </span></button>
    </div>
    <div class="stats-board">
        <h3 class="stat-title">Date Of First Operation</h3>
        <p class="stat-text">The first recorded operation was done at timestamp <span>&nbsp;{{ stats.dateFirstOperation }}</span>.</p>

        <hr />

        <h3 class="stat-title">Date Of Last Operation</h3>
        <p class="stat-text">The last recorded operation was done at timestamp <span>&nbsp;{{ stats.dateLastOperation }}</span>.</p>

        <hr />

        <h3 class="stat-title">Artwork Generation</h3>
        <p class="stat-text">You generated artworks <span>&nbsp;{{ stats.artworkGenerations }}&nbsp;</span> time{{ pluralMarks.artworkGenerations }}.</p>

        <hr />

        <h3 class="stat-title">Lyrics Fetches</h3>
        <p class="stat-text">You fetched lyrics from Genius <span>&nbsp;{{ stats.lyricsFetches }}&nbsp;</span> time{{ pluralMarks.lyricsFetches }}.</p>
    </div>
    <span class="top-bot-spacer"></span>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>
