<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/_generic.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}" />
</head>
<body id="head">
    <span class="top-bot-spacer"></span>
    <h1>Home</h1>
    <div class="navbar">
        <button type="button" onclick="window.location.href='{{ url_for('art-gen.renderArtworkGeneration') }}'"><span class="right">Artwork Generation</span></button>
        <button type="button" onclick="window.location.href='{{ url_for('lyrics.renderLyrics') }}'"><span class="right">Lyrics</span></button>
    </div>
    <div class="stats-board">
        <div class="stats-entry">
            <h3 class="stat-title">Date of First Operation</h3>
            <p class="stat-text">{{ stats.dateFirstOperation }}</p>
        </div>
        <hr />
        <div class="stats-entry">
            <h3 class="stat-title">Date of Last Operation</h3>
            <p class="stat-text">{{ stats.dateLastOperation }}</p>
        </div>
        <hr />
        <div class="stats-entry">
            <h3 class="stat-title">Artwork Generations</h3>
            <p class="stat-text">{{ stats.artworkGenerations }}</p>
        </div>
        <hr />
        <div class="stats-entry">
            <h3 class="stat-title">Genius Lyrics Fetches</h3>
            <p class="stat-text">{{ stats.lyricsFetches }}</p>
        </div>
    </div>
    <span class="top-bot-spacer"></span>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/_generic.js') }}"></script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>
