<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lyrics</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/_generic.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/lyrics.css') }}" />
</head>
<body id="head">
    <span class="top-bot-spacer"></span>
    <div id="navbar">
        <button onclick="window.location.href='{{ url_for('home') }}'"><span class="left"> Home</span></button>
        <button onclick="window.location.href='{{ url_for('artworkGeneration') }}'"><span class="left"> ArtGen</span></button>
    </div>
    <h1>Lyrics</h1>
    <form method="post" class="search-form flexbox flex-row">
        <div class="search-bars">
            <input type="text" name="artist" placeholder="Enter artist name" required>
            <input type="text" name="song" placeholder="Enter song name" required>
            <input type="submit" value="Search Lyrics" class="action-button search-button">
        </div>
    </form>
    <form method="post" class="lyrics-form flexbox">
        <textarea name="lyrics" rows="20" cols="80" placeholder="Lyrics will appear here...">{{ lyrics }}</textarea>
        <!-- TODO: replace the 80 with a calculated value -->
        <br>
        <input type="submit" value="Save Lyrics" class="action-button save-button">
    </form>
</body>
</html>
