<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lyrics</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/_generic.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/lyrics.css') }}" />
</head>
<body id="head">
    <div id="toast-container"></div>
    <span class="top-bot-spacer"></span>
    <div class="navbar">
        <button type="button" onclick="window.location.href='{{ url_for('home.renderHome') }}'"><span class="left">Home</span></button>
        <button type="button" onclick="window.location.href='{{ url_for('art-gen.renderArtworkGeneration') }}'"><span class="left">Artwork Generation</span></button>
    </div>
    <h1>Lyrics</h1>
    
    <!-- Search Lyrics Form -->
    <form method="POST" class="search-form flexbox flex-row">
        <div class="search-bars">
            <input type="text" id="artist" name="artist" placeholder="Enter artist name" required>
            <input type="text" id="song" name="song" placeholder="Enter song name" required>
            <input type="hidden" name="action" value="search">
            <div class="action-button" id="lyrics_search">
                <input type="submit" value="Search Lyrics" class="action-button search-button" onclick="showSpinner('lyrics_search')">
            </div>
        </div>
    </form>
    
    <!-- Save Lyrics Form -->
    <form method="POST" class="lyrics-form flexbox">
        {% for part in lyrics_parts %}
            <div>
                <label>{{ part.section }}</label>
                <input type="hidden" name="lyrics_section_{{ loop.index }}" value="{{ part.section }}">
                <textarea name="lyrics_part_{{ loop.index }}" rows="5" cols="80">{{ part.lyrics }}</textarea>
            </div>
        {% endfor %}
        <br>
        <div class="action-button" id="lyrics_save" style="display: none;">
            <input type="hidden" name="action" value="save">
            <input type="submit" value="Save Lyrics" class="action-button save-button">
        </div>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/_generic.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lyrics.js') }}"></script>
</body>
</html>
