<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download Files</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/download.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/statistics.css') }}" />
</head>
<body>
    <span class="top-bot-spacer"></span>
    <div id="navbar">
        <button onclick="window.location.href='{{ url_for('home') }}'"><span class="left"> Home</span></button>
    </div>
    <h1>Statistics</h1>
    <div class="stats-board">
        <p>oui</p>
        <hr />
        <p>oui</p>
        <hr />
        <p>oui</p>
        <hr />
        <p>oui</p>
    </div>
    <span class="top-bot-spacer"></span>
</body>
</html>
