@use "@/variables" as *;

#redirect {
  h1 {
    margin-top: 4% !important;
  }

  .board {
    @apply absolute top-1/4 max-h-64 w-2/3 flex flex-col rounded-2xl items-center justify-center italic;
    padding: 10%;
    border: .1rem solid $secondary-2;
    background-color: $secondary-1;

    * {
      @apply my-0;
    }

    &--title {
      @apply text-2xl;
    }

    &--err {
      @apply my-16 text-3xl;
    }

    &--counter {
      @apply flex;
    }
  }
}