@use "@/variables" as *;

.action-button {
  background-color: $primary-yelloww;

  &--label {
    @apply font-semibold text-xl;
    color: $secondary-3;
    font-family: $font-family--action-button;
  }

  &--icon {
    @apply w-4;
  }

  &:hover {
    background-color: $primary-bluee;
    box-shadow: $glow--primary2--md;

    .action-button--label {
      color: $secondary-1;
    }
  }
}