.image-panels {
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.image-container {
    width: 45%;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px #0000001a;
}

.thumbnails {
    background: white;
    width: 45%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
}

.thumbnail-grid {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background: white;
}

.thumbnail-item {
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
}