#navbar {
    width: 67%;
}

button { /* FIXME arrows on the sides of the buttons aren't well calibrated */
	width: calc(50% - 32px);
    padding: 6% 0;
}
button span.right:before {
	right: 0;

	content: '\00bb'; /* double right arrow character */
}
button:hover span.right:before {
	right: 5%;
}

.stats-board {
    width: 50%;

    margin: 2% auto 0 auto;
    padding: 1em;

    border: 2px solid #ddd;
    border-radius: 1rem;
    background-color: #ffffff;
}

.stat-title {
    text-align: center;
}

.stat-text {
    margin: 0 0 2% 0%;

    flex-direction: row;

    justify-content: center;
    align-items: baseline;

    font-size: 0.5em;
    font-style: italic;
}
.stat-text span {
    font-size: 1rem;
    font-weight: bold;
    font-style: normal;
}
