#navbar {
    width: 50%;
    margin: 0 auto;

    flex-wrap: wrap;
    gap: 10px;
}

button {
	width: calc(50% - 20px);
    padding: 20% 0;
}
/* FIXME arrows on the sides of the buttons aren't well calibrated */