
input {
    width: 50%;
    padding: 1.5rem;
    margin: 1.5rem 0;
    border: 2px solid #ddd;
    border-radius: 0.2rem;
}
.file {
    width: 75%;
}
.file-name {
    margin-left: 100px; /* Adjust space between the button and file name */
    color: #333;
}
input[type=file]::file-selector-button {
    margin-right: 5%;
    border: none;
    border-radius: 0.2rem;
    background: #2a67ec;
    padding: 8px 24px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

.result-image {
    max-width: 200px;
    max-height: 200px;
    margin: 10px;
}
.result-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
    width: 50%;
    margin: auto;
}

.result-container:not(:empty) {
    margin-bottom: 32px;
}
.result-container:empty {
    display: none;
}
.result-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1px;
    padding: 10px;
    border-radius: 4px;
    min-height: 300px;
    justify-content: space-between;

    img {
        max-width: 200px;
        max-height: 200px;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
    }

    button {
        display: block;
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: initial;
    }
    button:hover {
        background-color: #0056b3;
        transition: 0.3s;
    }
}

.result-item-name {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 0 10px;
    flex-grow: 1;
}

.label-container {
    display: flex;
    align-items: center;

    input[type="checkbox"] {
        margin-right: 10px;
    }
}

.bold-italic {
    font-weight: bold;
}