* {
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    box-sizing: border-box;

    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.08rem;
}

title {
    display: none;
}

#top-bot-spacer {
    padding: 0.5em 0;
}

h1 {
    font-family: Helvetica, sans-serif;
    font-size: 64px;
    margin: 2% 0;
    font-style: italic;
    letter-spacing: 0;
}
h1#second {
    margin: 4% 0 2% 0;
}

body {
    background: #ffff64;
    background: -webkit-linear-gradient(to right, #ffff64, #ffff64);
    background: linear-gradient(to right, #ffff64, #002654);
    height: 100%;
}

.flexbox {
    align-items: center;
}
.flex-horiz {
    flex-direction: row;
}

input {
    width: 50%;
    padding: 1.5rem;
    margin: 1.5rem 0;
    border: 2px solid #ddd;
    border-radius: 0.2rem;
}
.file {
    width: 75%;
}
.file-name {
    margin-left: 100px; /* Adjust space between the button and file name */
    color: #333;
}
input[type=file]::file-selector-button {
    margin-right: 5%;
    border: none;
    border-radius: 0.2rem;
    background: #2a67ec;
    padding: 8px 24px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

.error:not(:empty) {
    color: #ff0000;
    font-size: 14px;
    margin-top: 0;
    letter-spacing: 0.05rem;
    font-weight: bold;
    background: #a52a2a;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
}
.error:empty {
    display: none;
}

.button {
    width: 33%;
    background: #ffff64;
    border: none;
    border-radius: 0.2rem;

    cursor: pointer;

	border: 2px solid #00000010;
    box-shadow: 0 0 10px #0000007f;
	border-radius: 8px;

    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.3rem;

    transition: all 0.3s;
}
.button:hover {
    background: #002654;
    color: #ffffff;
}

select {
    cursor: pointer;
    background: #ffff64;

    padding: 8px 32px;
    margin-left: 16px;

	border: 2px solid #00000010;
    box-shadow: 0 0 10px #0000007f;
	border-radius: 8px;

    text-align: left;
    letter-spacing: normal;
    transition: all .3s ease!important;
}

.result-image {
    max-width: 200px;
    max-height: 200px;
    margin: 10px;
}
.result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.result-container:not(:empty) {
    margin-bottom: 32px;
}
.result-container:empty {
    display: none;
}
.result-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.result-item img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
.result-item button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.result-item button:hover {
    background-color: #0056b3;
    transition: 0.3s;
}

.label-container {
    display: flex;
    align-items: center;
}

.label-container input[type="checkbox"] {
    margin-right: 10px;
}