@use "@/variables" as *;

.iwo {
  @apply relative overflow-hidden cursor-pointer;

  &:hover {
    .iwo--image {
      @apply brightness-50;
      transition: all .3s ease;
    }
  }

  &--image {
    @apply object-cover;
  }

  &--overlay {
    @apply absolute z-10 top-0 left-0 w-full h-full flex items-center justify-center gap-1;
    background: radial-gradient(
      ellipse at center,
      rgba(255, 255, 255, 0.6) 20%, /* Bright white center */
      rgba(255, 255, 255, 0.1) 80%, /* Faded edges */
      rgba(255, 255, 255, 0.0) 100% /* Fully transparent at the edges */
    );
    opacity: 0; /* Initially hidden */

    &:hover {
      @apply opacity-100;
    }

    &--text {
      @apply font-bold;
      color: $secondary-3;
      text-shadow: 0 0 .25rem $secondary-1;
    }

    &--icon {
      @apply w-4;
    }
  }
}