@use "@/variables" as *;

.iwo {
  @apply relative overflow-hidden cursor-pointer;

  &--image {
    @apply object-cover;
  }

  &--overlay {
    @apply absolute z-10 top-0 left-0 w-full h-full flex items-center justify-center;
    background: radial-gradient(
      ellipse at center,
      rgba(255, 255, 255, 0.6) 20%, /* Bright white center */
      rgba(255, 255, 255, 0.1) 80%, /* Faded edges */
      rgba(255, 255, 255, 0.0) 100% /* Fully transparent at the edges */
    );
    opacity: 0; /* Initially hidden */
    gap: $gap--sm;

    &:hover {
      @apply opacity-100;
    }

    &--text {
      @apply font-bold;
      color: $secondary-3;
      text-shadow: 0 0 .4rem white;
    }

    &--icon {
      @apply w-4;
    }
  }
}