#processed-artworks {
    #thumbnail-gallery {
        width: 45%;
        padding: 1rem;

        background: white;
        box-shadow: 0 0 .5rem rgba(0,0,0,0.1);

        form {
            input[type="radio"] {
                padding: 0;
                margin: .5rem;
                border: none;
            }
        }

        &--grid {
            height: 80%;

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: .5rem;
        }
    }
}
