#cards-generation {
    .card-gallery {
        .card-container {
            text-align: center;
            position: relative;

            img, input {
                cursor: pointer;
                border-radius: .25rem;
            }
        }
    }
}