#cards-generation {
    form {
        .action-button {
            margin: auto;
        }
    }

    #download-all {
        margin: auto;
        margin-bottom: 1rem;
        width: 40%;
    }

    #cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        gap: .5rem;

        .card {
            border: .1rem solid #dddddd;
            border-radius: .5rem;
            padding: .5rem;

            input[type="submit"] {
                margin: auto;
                margin-top: .25rem;
                width: 80%;
            }
        }
    }
}
