#artwork-generation {
    #results.result-container {
        &:empty {
            display: none;
        }
        &:not(:empty) {
            max-width: 58rem;
            width: 75%;
            margin: auto;

            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 1.6rem 5%;
            margin-bottom: 1.6rem;
        }

        .result-item {
            align-items: center;
            justify-content: space-between;

            button {
                font-size: initial;

                .result-image {
                    max-width: 10rem;
                    max-height: 10rem;

                    border: .05rem solid lightgray;
                    border-radius: .2rem;

                    padding: .25rem;
                }
            }
            .result-text {
                min-height: -webkit-fill-available;
                margin: .5rem auto 0 auto;
                line-height: 1.2rem;
            }
        }
    }

    #clear {
        background-color: #8fbc8f;

        margin-bottom: 1rem;
        width: 16rem;
        font-size: smaller;

        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;

        &:hover {
            cursor: pointer;
            background-color: #0056b3;
        }
    }
}