@use "@/variables" as *;

#artwork-generation {
  .results {
    @apply flex flex-col mt-4 items-center;

    &--container {
      &:empty {
        @apply hidden;
      }
      &:not(:empty) {
        @apply w-full grid gap-x-14 gap-y-4 mb-6;
        max-width: 58rem;
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }

      &--item {
        @apply justify-items-center;

        button {
          @apply bg-transparent rounded-lg;
          font-size: initial;
        }

        &--image {
          @apply max-w-40 max-h-40 p-1 rounded-md;
        }
        &--text {
          @apply mt-2 mb-0 mx-auto text-center font-bold italic text-lg;
        }
      }
    }
  }
}
