@use "@/variables" as *;

#artwork-generation {
  .results {
    @apply flex flex-col mt-4 items-center;

    #clear {
      @apply w-64 py-1 mb-4 font-normal text-xl;
      background-color: $old-green;
    }

    .result-container {
      &:empty {
        @apply hidden;
      }
      &:not(:empty) {
        @apply w-5/6 grid gap-x-12 gap-y-6 mb-6;
        max-width: 58rem;
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }

      .result-item {
        @apply justify-items-center;

        button {
          @apply bg-transparent rounded-lg;
          font-size: initial;
        }

        &--image {
          @apply max-w-40 max-h-40 p-1 rounded-md;
          border: .05rem solid lightgrey;
        }
        &--text {
          @apply min-h-full mt-2 mb-0 mx-auto text-lg;
          min-height: -webkit-fill-available;
        }
      }
    }
  }
}
