#artwork-generation {
    #results.result-container {
        &:empty {
            display: none;
        }
        &:not(:empty) {
            max-width: 58rem;
            width: 75%;
            margin: auto;

            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 32px 5%;
            margin-bottom: 32px;
        }

        .result-item {
            align-items: center;
            justify-content: space-between;

            button {
                font-size: initial;

                .result-image {
                    max-width: 10rem;
                    max-height: 10rem;

                    border: 1px solid #dddddd;
                    border-radius: 4px;

                    padding: 5px;
                }
            }
            .result-name {
                margin: .5rem auto;
                line-height: 1rem;
            }
            .result-text {
                min-height: -webkit-fill-available;
                margin: .5rem auto 0 auto;
                line-height: 1rem;
            }
        }
    }
}