@use "@/variables" as *;

.color-picker {
  @apply flex flex-col justify-center;

  &--label {
    @apply italic text-lg;
    color: $secondary-1;
  }

  &--content {
    @apply flex flex-row gap-2;

    &--img {
      @apply mr-2 cursor-pointer;
    }

    &--load-latest {
      @apply w-auto text-base !important;
    }
  }

  #defined {
    @apply flex flex-col;
  }

  &--color {
    @apply flex flex-row gap-2;

    & > span {
      @apply w-full content-center rounded-lg;
      border: .1rem solid lightgrey;
      letter-spacing: 0.2rem;
    }
  }
}